/*Contiene al "Main" y al "Aside" dentro de una caja. Esto permite ubicarlos en cada lado usando "space between"*/
.cajaMainAsideBlog {
    display: flex;
    flex-direction: column;
    .contenedorVideoBlog {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
}

.contenedorParrafosBlog{
  margin-top: 15px;
    p{
      @include textColor(textos);
      
    }
  
    
}
  
  .contenedorAsideBlog {
    @include textColor(textos);
    img {
      width: 150px;
      margin: 0px 0px 10px;
    }
    li {
      list-style: none;
    }
    a{
      text-decoration: none;
      @include textColor(textos)
    }
  }

  /*Iframe Responsive*/

  .contenedorIframeBlog{
    position: relative;
    overflow:hidden;
    padding-top: 75%;
  }

  .contenedorIframeBlog iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  

  