/*Contiene al "Main" y al "Aside" dentro de una caja. Esto permite ubicarlos en cada lado usando "space between"*/
.cajaMainAsideBlog {
    display: flex;
    flex-direction: column;
    .contenedorVideoBlog {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .contenedorIframeBlog {
        margin: 10px;
      }
      
    }     
}

.contenedorParrafosBlog{
    p{
      @include textColor(textos);
    }
  
    
}
  
  .contenedorAsideBlog {
    @include textColor(textos);
    img {
      width: 150px;
      margin: 0px 0px 10px;
    }
    li {
      list-style: none;
    }
  }

  
  