/*Contiene el formulario de contacto en "Contacto"*/
.contenedorFormContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include colorDeco(fondo);
    .formContacto {
      display: flex;
      flex-direction: column;
      @include colorDeco(fondo);
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      border-width: 3px;
      @include colorDeco(bordes);
      border-style: solid;
      margin: 10px;
      p{
        @include textColor(default);
        margin: 10px;
        display: inline-block;
  
      }
      .formContactoCasillero {
        margin: 5px;
        padding: 5px;
        border-width: 1px;
        @include colorDeco(bordes);
        border-style: solid;
      }
      .formContactoBtn {
        display: flex;
        justify-content: center;
        padding: 3px;
        @include colorDeco(fondo);
        input {
          margin: 0px 10px 0px 0px;
          padding: 3px 20px;
          border-width: 3px;
          border-style: solid;
          border-color: grey;
          color: grey;
          border-radius: 5px;
        }
      }
    }
    .formContactoIconos{
      ul{
        @include textColor(textos);
        margin-left: 20px;
        padding-top: 40px;
        li {
          list-style: none;
          margin: 2px;
        }
      }
    }
  }
  