/*Vista en celulares chicos hasta 576px*/

@media (min-width: 250px) {
    /*Grids*/
    .contenedor {
      grid-template-rows: 100px auto auto 100px;
      grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
      gap: 10px;
    }
    /*Contenedor de todos los álbumes de fotos y textos descriptivos en "Portfolio"*/
    .cajaPortfolio{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cajaPortfolioAlbum{
      padding: map-get($cajaPortfolioAlbum , padding);
      border: map-get($cajaPortfolioAlbum , borde);
      border-color: map-get($cajaPortfolioAlbum , color);
      margin: map-get($cajaPortfolioAlbum , margin );
      border-width: 10px;
      
    }

    

    /*Contiene párrafos descripción "Sobre Mi" + "Soy Mariana Martinez" + IMG*/
    .contenedorSobreMi {
        display: flex;
        flex-direction: column;
        img {
        margin: 10px 0px;
        }
        h3 {
        padding-bottom: 10px;
        color: blueviolet; 
        }
       
    }

    .slideIndex{
      display:none;
    }
    .carousel-control-prev-icon{
      display: none;
    }

    .carousel-control-next-icon{
      display: none;
    }

  }
  
  @media (min-width: 768px) {
    .contenedor {
      grid-template-rows: 100px auto auto 100px;
      grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
      gap: 10px;
    }
    
    .slideIndex{
      display:contents;
    }

    .autoretratoFotoInicio{
      display: none;
    }

    /*Contiene las 3 tarjetas en "Servicios"*/
    .contenedorTarjeta {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .contenedorFormContacto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: black;
    }
  }
  
  @media (min-width: 992px) {
    .contenedor {
      grid-template-rows: 100px auto auto 100px;
      grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
      gap: 10px;
    }

    
    .cajaPortfolioAlbum:hover{
      transition: 1s;
      opacity: 30%;
    }
    
    .cajaPortfolioAlbum img {
      width: 350px;
    }

    .contenedorTarjeta {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .tarjeta:hover {
      transition: all 1s;
      transform: scale(1.2);
    }

    .contenedorSobreMi {
      display: flex;
      flex-direction: row;
    }
  
    .contenedorSobreMi img {
      margin-left: 15px;
  
    }
  
    
    .contenedorAsideBlog {
      margin-top: 130px;
    }

    
  }