/*Barra de navebgación en Desktop*/
.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include colorDeco(fondo);
    position: sticky;
    top: 0;
    border-bottom: 3px solid;
    @include colorDeco(bordes);
    align-items: center;
    z-index: 10;
    margin: 0;
    padding: 0;
    ul{ 
      li {
        display: inline-block;
        margin-right: 20px;
        padding-right: 10px;
        color: blueviolet;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular',  sans-serif;
        a {
          text-decoration: none;
        }
      }
    }
    .navbar-toggler-icon {
      @include colorDeco(toggler);
    }
    .nav-link {
      @include textColor(menu);
    }
    .navbar-brand{
      padding: 15px 0px;
    }
  }

  