/*Tarjetas en página de "Servicios"*/
/*Contiene las 3 tarjetas: título, IMG, texto y botón*/
.contenedorTarjeta {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    .tarjeta {
        display: flex;
        flex-direction: column;
      width: 350px;
      margin: 10px;
      border-width: 3px;
      border-color: blueviolet;
      border-style: solid;
      border-radius: 10px;
      background-color: black;
      color:grey;
      
      h3{
          display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 36px;
        color: blueviolet;
      }
      p{
        display: flex;
        font-size: 26px;
        justify-content: center;
      }
      li{
          display: flex;
          font-size: 20px;
        justify-content: center;
        list-style: none;
      }
      img{
        margin: 20px;
        width: 90%;
      }
      .btn {
        display: flex;
        justify-content: center;
        border-radius: 15px;
        margin-left: 20px;
        align-items: center;
        border-width: 3px;
        border-style: solid;
        border-color: grey;
        color: grey;
        width: 90%;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;
        height: 50px;
      }
  
    }
  }