$cajaPortfolioAlbum:(
  padding: 0px,
  borde: solid,
  color: #f0a054,
  margin: 20px,
);

$colorText: white;

$cajaPaginaPortfolioFoto:(
  padding: 0px,
  borde: solid,
  color: #f0a054,
  margin: 20px,
);