@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap");
body {
  font-family: "Noto Sans Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navebgación en Desktop*/
.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #513249;
  position: sticky;
  top: 0;
  border-bottom: 3px solid;
  border-color: #f0a054;
  align-items: center;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 10px;
  color: blueviolet;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar .navbar-toggler-icon {
  background-color: #77d4b5;
}
.navbar .nav-link {
  color: #ec7e7e;
}
.navbar .navbar-brand {
  padding: 15px 0px;
}

/*Contiene todo lo que está en el pié de página*/
footer {
  grid-area: footer;
  display: flex;
  background-color: #513249;
  justify-content: space-between;
  align-items: center;
  color: #ec7e7e;
}
footer .footerCaja {
  display: flex;
  background-color: #513249;
  color: #ec7e7e;
  padding-top: 15px;
}
footer .footerCaja h3 {
  justify-content: center;
}
footer .footerCaja ul {
  padding: 0%;
  justify-content: center;
}
footer .footerCaja ul li {
  list-style: none;
  font-size: 16px;
}
footer .footerCaja ul li a {
  text-decoration: none;
  color: #ec7e7e;
  padding: 10px;
}
footer .footerCaja .footerCajaContacto {
  justify-content: center;
}
footer .footerCaja .footerCajaContacto img {
  width: auto;
  height: auto;
}
footer .footerCaja .footerCajaRedes {
  justify-content: center;
}
footer .footerCaja .footerCajaRedes a {
  width: auto;
}
footer .footerCaja .footerCajaRedes a img {
  width: 50px;
  height: 50px;
}
footer .footerCaja h5 {
  font-size: 16px;
  padding-top: 20px;
  color: grey;
}

/*Tarjetas en página de "Servicios"*/
/*Contiene las 3 tarjetas: título, IMG, texto y botón*/
.contenedorTarjeta {
  display: flex;
  flex-direction: column;
  background-color: #513249;
  align-items: center;
}
.contenedorTarjeta .tarjeta {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px;
  border-width: 3px;
  border-color: #f0a054;
  border-style: solid;
  border-radius: 10px;
  background-color: #513249;
  color: white;
}
.contenedorTarjeta .tarjeta h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 36px;
  color: #ec7e7e;
}
.contenedorTarjeta .tarjeta p {
  display: flex;
  font-size: 26px;
  justify-content: center;
}
.contenedorTarjeta .tarjeta li {
  display: flex;
  font-size: 20px;
  justify-content: center;
  list-style: none;
}
.contenedorTarjeta .tarjeta img {
  margin: 20px;
  width: 90%;
}
.contenedorTarjeta .tarjeta .btn {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-left: 20px;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: #f0a054;
  color: grey;
  width: 90%;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
  height: 50px;
}
.contenedorTarjeta .tarjeta .btn:hover {
  background-color: #77d4b5;
}

/*Contiene el formulario de contacto en "Contacto"*/
.contenedorFormContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #513249;
}
.contenedorFormContacto .formContacto {
  display: flex;
  flex-direction: column;
  background-color: #513249;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #f0a054;
  border-style: solid;
  margin: 10px;
}
.contenedorFormContacto .formContacto p {
  color: #ec7e7e;
  margin: 10px;
  display: inline-block;
}
.contenedorFormContacto .formContacto .formContactoCasillero {
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-color: #f0a054;
  border-style: solid;
}
.contenedorFormContacto .formContacto .formContactoBtn {
  display: flex;
  justify-content: center;
  padding: 3px;
  background-color: #513249;
}
.contenedorFormContacto .formContacto .formContactoBtn input {
  margin: 0px 10px 0px 0px;
  padding: 3px 20px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  color: grey;
  border-radius: 5px;
}
.contenedorFormContacto .formContactoIconos ul {
  color: white;
  margin-left: 20px;
  padding-top: 40px;
}
.contenedorFormContacto .formContactoIconos ul li {
  list-style: none;
  margin: 2px;
}

/*Contiene al "Main" y al "Aside" dentro de una caja. Esto permite ubicarlos en cada lado usando "space between"*/
.cajaMainAsideBlog {
  display: flex;
  flex-direction: column;
}
.cajaMainAsideBlog .contenedorVideoBlog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedorParrafosBlog {
  margin-top: 15px;
}
.contenedorParrafosBlog p {
  color: white;
}

.contenedorAsideBlog {
  color: white;
}
.contenedorAsideBlog img {
  width: 150px;
  margin: 0px 0px 10px;
}
.contenedorAsideBlog li {
  list-style: none;
}
.contenedorAsideBlog a {
  text-decoration: none;
  color: white;
}

/*Iframe Responsive*/
.contenedorIframeBlog {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}

.contenedorIframeBlog iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*Vista en celulares chicos hasta 576px*/
@media (min-width: 260px) {
  /*Grids*/
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  /*Contenedor de todos los álbumes de fotos y textos descriptivos en "Portfolio"*/
  .cajaPortfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cajaPortfolioAlbum {
    padding: 0px;
    border: solid;
    border-color: #f0a054;
    margin: 20px;
    border-width: 3px;
  }
  .cajaPaginaPortfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cajaPaginaPortfolioFoto {
    padding: 0px;
    border: solid;
    border-color: #f0a054;
    margin: 20px;
    border-width: 3px;
  }
  .resenas p {
    font-style: italic;
  }
  /*Contiene párrafos descripción "Sobre Mi" + "Soy Mariana Martinez" + IMG*/
  .contenedorSobreMi {
    display: flex;
    flex-direction: column;
  }
  .contenedorSobreMi img {
    margin: 10px 0px;
  }
  .contenedorSobreMi h3 {
    padding-bottom: 10px;
    color: #ec7e7e;
  }
  /*Botones del Carousel de Index*/
  .slideIndex {
    display: none;
  }
  .carousel-control-prev-icon {
    display: none;
  }
  .carousel-control-next-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  .slideIndex {
    display: contents;
  }
  .autoretratoFotoInicio {
    display: none;
  }
  /*Contiene las 3 tarjetas en "Servicios"*/
  .contenedorTarjeta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contenedorFormContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #513249;
  }
}
@media (min-width: 992px) {
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  .cajaPortfolioAlbum:hover {
    transition: 1s;
    opacity: 30%;
  }
  .cajaPortfolioAlbum img {
    width: 350px;
  }
  .contenedorTarjeta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .tarjeta:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
  .contenedorSobreMi {
    display: flex;
    flex-direction: row;
  }
  .contenedorSobreMi img {
    margin-left: 15px;
  }
  .contenedorAsideBlog {
    margin-top: 130px;
  }
}
.body {
  background-color: #513249;
}

.contenedorAsideBlog ul {
  padding: 0%;
}

h3 {
  display: flex;
  margin-top: 10px;
  color: #ec7e7e;
  justify-content: center;
}

.contenedorSobreMi .parrafoCita {
  font-style: italic;
  font-size: larger;
  color: #77d4b5;
}
.contenedorSobreMi p {
  color: white;
}

/* Barra de navegacion de inicio y Footer*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto auto 100px;
  grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
  gap: 10px;
}

.main {
  grid-area: main;
}
.main h2 {
  color: #ec7e7e;
  font-size: 36px;
  margin: 30px;
  padding: 30px;
  margin: 0%;
  padding-left: 100px;
}

/*Foto en página de Inicio*/
.fotoInicio {
  contain: content;
}

/*Propiedades del body. Para unificar un fondo negro*/
body {
  background-color: #513249;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */