@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap");
body {
  font-family: 'Noto Sans Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
}

.contenedorAsideBlog ul {
  padding: 0%;
}

/* Barra de navegacion de inicio y Footer*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto auto 100px;
  grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
  gap: 10px;
}

/*Barra de navebgación en Desktop*/
.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  border-bottom: 3px solid blueviolet;
  align-items: center;
  z-index: 10;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 10px;
  color: blueviolet;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',  sans-serif;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar .navbar-toggler-icon {
  background-color: blueviolet;
}

.navbar .nav-link {
  color: blueviolet;
}

.main {
  grid-area: main;
  color: white;
  padding: 20px;
}

.main h2 {
  color: blueviolet;
  font-size: 36px;
  margin: 30px;
  padding: 30px;
  background-color: black;
  margin: 0%;
  padding-left: 100px;
}

/*Contiene todo lo que está en el pié de página*/
footer {
  grid-area: footer;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: blueviolet;
}

footer .footerCaja {
  display: flex;
  background-color: black;
  color: blueviolet;
  padding-top: 15px;
}

footer .footerCaja h3 {
  justify-content: center;
}

footer .footerCaja ul {
  padding: 0%;
  justify-content: center;
}

footer .footerCaja ul li {
  list-style: none;
  font-size: 16px;
}

footer .footerCaja ul li a {
  text-decoration: none;
  color: blueviolet;
  padding: 10px;
}

footer .footerCaja .footerCajaContacto {
  justify-content: center;
}

footer .footerCaja .footerCajaRedes {
  justify-content: center;
}

footer .footerCaja h5 {
  font-size: 16px;
  padding-top: 20px;
}

/*Foto en página de Inicio*/
.fotoInicio {
  contain: content;
}

/*Propiedades del body. Para unificar un fondo negro*/
body {
  background-color: black;
}

.cajaPortfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-around;
}

.cajaPortfolioAlbum {
  justify-content: center;
  width: 90%;
  height: 300px;
  padding: 10px;
  margin: 5px;
}

.cajaPortfolioAlbum p {
  width: 300px;
  padding: 0px 5px 0px 5px;
}

/*Tarjetas en página de "Servicios"*/
/*Contiene las 3 tarjetas: título, IMG, texto y botón*/
.contenedorTarjeta {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

.contenedorTarjeta .tarjeta {
  width: 350px;
  margin: 10px;
  border-width: 3px;
  border-color: blueviolet;
  border-style: solid;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.contenedorTarjeta .tarjeta h3 {
  font-size: 36px;
  margin-left: 15px;
  color: blueviolet;
}

.contenedorTarjeta .tarjeta p {
  padding: 0px 10px 0px 10px;
  min-height: 132px;
  width: 90%;
  margin-left: 10px;
}

.contenedorTarjeta .tarjeta img {
  margin: 20px;
  width: 90%;
}

.contenedorTarjeta .tarjeta .btn {
  border-radius: 15px;
  margin-left: 20px;
  padding: 3px 75px 3px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  color: gray;
  width: 90%;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
  height: 50px;
}

/*Contiene el formulario de contacto en "Contacto"*/
.contenedorFormContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.contenedorFormContacto .formContacto {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: blueviolet;
  border-style: solid;
  margin: 10px;
}

.contenedorFormContacto .formContacto p {
  color: blueviolet;
  margin: 10px;
  display: inline-block;
}

.contenedorFormContacto .formContacto .formContactoCasillero {
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-color: blueviolet;
  border-style: solid;
}

.contenedorFormContacto .formContacto .formContactoBtn {
  display: flex;
  justify-content: center;
  padding: 3px;
  background-color: black;
  color: white;
}

.contenedorFormContacto .formContacto .formContactoBtn input {
  margin: 0px 10px 0px 0px;
  padding: 3px 20px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  color: gray;
  border-radius: 5px;
}

.contenedorFormContacto .formContactoIconos ul {
  color: white;
  margin-left: 20px;
  padding-top: 40px;
}

.contenedorFormContacto .formContactoIconos ul li {
  list-style: none;
  margin: 2px;
}

/*Contiene párrafos descripción "Sobre Mi" + "Soy Mariana Martinez" + IMG*/
.contenedorSobreMi {
  display: flex;
  flex-direction: column;
  color: white;
}

.contenedorSobreMi img {
  margin: 10px 0px;
}

.contenedorSobreMi h3 {
  padding-bottom: 10px;
  color: blueviolet;
}

/*Contiene al "Main" y al "Aside" dentro de una caja. Esto permite ubicarlos en cada lado usando "space between"*/
.cajaMainAsideBlog {
  display: flex;
  flex-direction: column;
}

.cajaMainAsideBlog .contenedorVideoBlog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cajaMainAsideBlog .contenedorVideoBlog h3 {
  color: blueviolet;
  margin: 10px;
}

.cajaMainAsideBlog .contenedorVideoBlog p {
  color: white;
  margin: 10px;
}

.cajaMainAsideBlog .contenedorVideoBlog .contenedorIframeBlog {
  margin: 10px;
}

.contenedorAsideBlog {
  color: white;
}

.contenedorAsideBlog img {
  width: 150px;
  margin: 0px 0px 10px;
}

.contenedorAsideBlog li {
  list-style: none;
}

/*Vista en celulares chicos hasta 576px*/
@media (min-width: 576px) {
  /*Grids*/
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  /*Contenedor de todos los álbumes de fotos y textos descriptivos en "Portfolio"*/
  .cajaPortfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
  }
  /*Cada álbum individualmente con su texto descriptivo*/
  .cajaPortfolioAlbum {
    justify-content: center;
    width: 90%;
    height: 300px;
    padding: 10px;
    margin: 5px;
  }
  /*Desdcripciones de los álbums*/
  .cajaPortfolioAlbum p {
    width: 300px;
    padding: 0px 5px 0px 5px;
  }
}

@media (min-width: 768px) {
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  .cajaPortfolioAlbum {
    width: 45%;
  }
  /*Contiene las 3 tarjetas en "Servicios"*/
  .contenedorTarjeta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contenedorFormContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
  }
}

@media (min-width: 992px) {
  .contenedor {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar    navbar  navbar" "main      main    main" "section   section section" "footer    footer  footer";
    gap: 10px;
  }
  .cajaPortfolioAlbum {
    width: auto;
  }
  .cajaPortfolioAlbum p {
    width: 250px;
    padding: 0px 5px 0px 5px;
  }
  .cajaPortfolioAlbum img {
    width: 250px;
  }
  .contenedorTarjeta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .tarjeta:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
  /*Contiene párrafos descripción "Sobre Mi" + "Soy Mariana Martinez" + IMG*/
  .contenedorSobreMi {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
  }
  /*Contiene la IMG en "Sobre Mi"*/
  .contenedorSobreMi img {
    margin-left: 15px;
  }
  .contenedorSobreMi p {
    margin-left: 15px;
  }
  /*"Soy Mariana Martínez"*/
  .contenedorSobreMi h2 {
    color: yellowgreen;
  }
  .contenedorAsideBlog {
    margin-top: 130px;
  }
}
/*# sourceMappingURL=style.css.map */